<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Document</title>
    <style>
      .nav-el {
        list-style: none;
        color: brown;
      }
      .nav-el > li {
        float: left;
        margin-left: 10px;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav-el">
          <li><a href="{% url "blog:home"%}">Home Page</a></li>
          <li><a href="{% url 'blog:contact' %}">Contact Us</a></li>
          <li><a href="{% url 'blog:about' %}">About Us</a></li>
        </ul>
      </nav>
    </header>
    <br>

    {% block body %} {% endblock %}
  </body>
</html>
